/* Start the vertical centering */
.cover-wrapper {
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.cover {
    padding: 30px 20px;
}

.cover {
    padding: 10px 20px;
    font-weight: bold;
}