<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mmdb-brand center-image">
            <a class="nav navbar-brand" ng-href="{{$ctrl.homePage.url}}"> <img alt="{{$ctrl.logoPlaceholder()}}" ng-src="{{$ctrl.logo}}"></a>
        </div>
        <ul class="nav nav-tabs navbar-left">
            <li ng-repeat="page in $ctrl.leftPages"><a ng-href="{{page.url}}">{{page.display}}</a></li>
        </ul>
        <ul class="nav nav-pills navbar-right">
            <li ng-hide="$ctrl.titoPage.exclude"><a ng-href="{{$ctrl.titoPage.url}}">{{$ctrl.titoPage.display}}</a></li>
            <li ng-hide="$ctrl.yogiPage.exclude"><a ng-href="{{$ctrl.yogiPage.url}}">{{$ctrl.yogiPage.display}}</a></li>
            <li ng-hide="$ctrl.sandboxPage.exclude"><a ng-href="{{$ctrl.sandboxPage.url}}">{{$ctrl.sandboxPage.display}}</a></li>
            <li ng-hide="$ctrl.styleGuidePage.exclude"><a ng-href="{{$ctrl.styleGuidePage.url}}">{{$ctrl.styleGuidePage.display}}</a></li>
        </ul>
    </div>
</nav>