body {
    padding-top: 50px;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.mmdb-brand {
    width: 220px;
    overflow: hidden;
    position: relative;
}

.mmdb-brand img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
}

.tito {
	padding-top: 54px;
}

.banner-title {
    color: #272b30;
    background-color: #c8c8c8;
    font-size: 72px;
    letter-spacing: .15em;
    font-family: CenturyGothic;
    padding: 36px 0px;
    text-align: center;
    text-rendering: optimizeLegibility;
}

.quote-box {
    margin: 72px auto;
    padding: 32px 16px;
    position: center;
    width: 50%;
    border-radius: 16px;
    border-left: 4px solid;
    border-right: 4px solid;
}

.quote-text {
    font-size: 2em;
    letter-spacing: .15em;
    font-family: CenturyGothic;
    text-align: center;
}