<nav class="nav navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header mmdb-brand">
            <a class="nav navbar-brand center-image" href="#/"> <img alt="{{mmdbToolbar.brandText}}" src="{{mmdbToolbar.brandImg}}"></a>
        </div>
        <ul class="nav nav-tabs navbar-left" ng-transclude>
        </ul>
        <ul class="nav nav-pills navbar-right">
            <li><a ng-click="mmdbToolbar.onTitoClick()">tito</a></li>
            <li><a ng-click="mmdbToolbar.onYogiClick()">yogi</a></li>
            <li><a ng-click="mmdbToolbar.onSandboxClick()">sandbox</a></li>
        </ul>
    </div>
</nav>